<!DOCTYPE html>
<html data-wf-page="645cd2b369005d5f02bd4dfb" data-wf-site="64316b52637d391ec2c33364">
  <%- include('templates/head.ejs') %>
  <body class="body-3">
    <%- include('templates/navbar.ejs') %>
    <section class="contactsection wf-section">
      <h1 class="h1">Kontakt</h1>
      <div class="contactitems">
        <div class="contactitem">
          <span class="contactitembold">E-mail:</span>
          <a href="mailto:zdepodany@gmail.com" class="contactitemlink">zdepodany@gmail.com</a>
        </div>
        <div class="contactitem">
          <span class="contactitembold">Tel / WhatsApp:</span>
          <a href="tel:+420735945421" class="contactitemlink">+420 735 945 421</a>
        </div>
        <div class="contactitem">
          <span class="contactitembold">LinkedIn:</span>
          <a href="https://www.linkedin.com/in/zdenekpodany/" target="_blank" class="contactitemlink">Zdeněk Podaný</a>
        </div>
      </div>
      <p class="information-text">Máte pocit, že by tu měl být jiný způsob kontaktování?<br>Prosím, využijte aktuálních způsobů, abyste mi doporučili Váš návrh!</p>
      <div class="contactendbuttons">
        <a href="/portfolio" class="primary-button w-button">Omrknout portfolio</a>
        <a href="/" class="secondary-button w-button">Zpět na hlavní stránku</a>
      </div>
    </section>
    <div class="lights">
      <div class="blue-glow"></div>
      <div class="blueglow2"></div>
    </div>
    <%- include('templates/scripts.ejs') %>
  </body>
</html>