<section class="formSection" id="formSection">
    <h3 class="h3">Kontakt ✍️</h3>
    <form action="/send" method="POST" id="demo-form">
        <label for="email" class="textLabel">Váš e-mail:*</label>
        <input type="email" id="email" name="email" class="textInput" placeholder="Váš e-mail" required>
        <br>
        <label for="tel" class="textLabel">Telefonní číslo:</label>
        <input type="tel" id="tel" name="tel" class="textInput" value="+420">
        <br>
        <label for="message" class="textLabel">Zpráva:*</label>
        <textarea name="message" id="message" cols="30" rows="4" placeholder="Dobrý den"></textarea>
        <br>
        <button type="submit" class="btn blueBtn g-recaptcha" data-sitekey="6LexGpsoAAAAAJ9DpMX5dxHczTyuu3xZruaKpJ2p" data-callback='onSubmit' data-action='submit'>Odeslat</button>
    </form>
</section>