<section class="formSection" id="formSection">
    <h3 class="h3">Kontakt ✍️</h3>
    <form action="/send" method="POST">
        <label for="email" class="textLabel">Email:*</label>
        <input type="email" id="email" name="email" class="textInput" placeholder="E-mail" required>
        <br>
        <label for="tel" class="textLabel">Telefonní číslo:</label>
        <input type="tel" id="tel" name="tel" class="textInput" value="+420">
        <br>
        <label for="message" class="textLabel">Zpráva:*</label>
        <textarea name="message" id="message" cols="30" rows="4" placeholder="Dobrý den"></textarea>
        <br>
        <button type="submit" class="btn blueBtn">Odeslat</button>
    </form>
</section>