<head>
    <meta charset="utf-8">
    <title><%= pageTitle %></title>

    <!-- Favicon & Apple Touch icon -->
    <link href="img/favicon.svg" rel="shortcut icon" type="image/x-icon">
    <link href="img/appleTouchIcon.png" rel="apple-touch-icon">

    <!-- Meta tags -->
    <meta content="Design webových stránek, mobilních nebo webových aplikací &amp; Tvorba prezentačních webových stránek. Potřebujete kvalitní design webových stránek nebo Vaší mobilní aplikace? Jste na správné adrese." name="description">
    <meta content="Zdeněk Podaný - UI/UX Design" property="og:title">
    <meta content="Design webových stránek, mobilních nebo webových aplikací &amp; Tvorba prezentačních webových stránek. Potřebujete kvalitní design webových stránek nebo Vaší mobilní aplikace? Jste na správné adrese." property="og:description">
    <meta content="https://lh3.google.com/u/0/d/1hlClDPoebFkv5gk83ciN_LHakoWxkHVU=w2560-h1374-iv1" property="og:image">
    <meta content="Zdeněk Podaný - UI/UX Design" property="twitter:title">
    <meta content="Design webových stránek, mobilních nebo webových aplikací &amp; Tvorba prezentačních webových stránek. Potřebujete kvalitní design webových stránek nebo Vaší mobilní aplikace? Jste na správné adrese." property="twitter:description">
    <meta content="https://lh3.google.com/u/0/d/1hlClDPoebFkv5gk83ciN_LHakoWxkHVU=w2560-h1374-iv1" property="twitter:image">
    <meta property="og:type" content="website">
    <meta content="summary_large_image" name="twitter:card">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- CSS -->
    <link href="css/hero.css" rel="stylesheet">
    <link href="css/btns.css" rel="stylesheet">
    <link href="css/howItWorks.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" type="text/css">
    <link href="css/webflow.css" rel="stylesheet" type="text/css">
    <link href="css/zweb-3-0.webflow.css" rel="stylesheet" type="text/css">
    <link href="css/text.css" rel="stylesheet">
    <link rel="stylesheet" href="css/form.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/portfolio.css">
    <link rel="stylesheet" href="css/404.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="anonymous">

    <script type="text/javascript">WebFont.load({  google: {    families: ["Inter:100,200,300,regular,500,600,700,800,900"]  }});</script>¨

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G4TW2CFTFJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-G4TW2CFTFJ');
    </script>

    <!-- Google reCAPTCHA v3 -->
    <script src="https://www.google.com/recaptcha/api.js"></script>

  </head>