<div class="navbar-wrapper">
    <a href="/" aria-current="page" class="link navbar-logo w--current"><span class="navbar-logo-heavy">Zdeněk</span> Podaný</a>
    <div class="navbar-buttons">
        <a href="/portfolio" class="navbar-button">Portfolio</a>
        <a href="#formSection" class="navbar-button">Kontakt</a>
    </div>
</div>