.howItWorksSection {
  padding: 0 25%;
  display: flex;
  padding-bottom: 64px;
  flex-direction: column;
  align-items: center;
}

/* --- Segmented Control --- */

.segmentedControl {
  width: 90%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  padding: 6px;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  gap: 6px;
  background: #2D2D2D;
}

.segment {
  width: 100%;
  position: relative;
  padding: 6px;
  color: #FFF;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  letter-spacing: 0.04rem;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.segment:hover {
  background-color: #0808083c;
}

.segment.active {
  background-color: #00A7EF;
  color: #fff;
}

.procedureContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.procedureStep {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.procedureStep h4 {
  margin-bottom: 1rem;
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

@media screen and (max-width: 991px) {
  .howItWorksSection {
    padding: 0 8%;
  }
}

@media screen and (max-width: 479px) {
  .segmentedControl {
    width: 100%;
  }
}
