.h2 {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
}

.h3 {
    width: 100%;
    color: #fff;
    margin-bottom: 1rem;
    font-family: Inter, sans-serif;
}

.h4 {
  color: #fff;
  margin-top: 32px;
  margin-bottom: 0;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.purpleHeroText {
    color: #7200DF;
    font-weight: 600;
}

.blueHeroText {
    color: #00A7EF;
    font-weight: 600;
}

.informationText {
    width: 100%;
    color: #DEDEDE;
    font-family: Inter, sans-serif;
}

.blueInfoText {
    color: #00A7EF;
    font-weight: 600;
}

.footerText {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 1rem;
}

.footerTextSemiBold {
    font-weight: 600;
}

@media screen and (max-width: 479px) {
  h2 {
    font-size: 22px !important;
    line-height: 32px !important;
  }
}